body {
  background-color: #282c35;
  color: #fff;
}
.App {
  display: flex;
}

aside {
  padding: 20px;
}

.nav-item {
  cursor: pointer;
}
.nav-item.active {
  color: red;
}

main {
  padding: 20px;
  flex: 1;
}

@keyframes ani {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
